USE [master]
GO
/****** Object:  Database [TestDB_2016_CS_178]    Script Date: 24/01/2019 10:45:30 AM ******/
CREATE DATABASE [TestDB_2016_CS_178]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB_2016_CS_178', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestDB_2016_CS_178.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_2016_CS_178_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TestDB_2016_CS_178_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB_2016_CS_178].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB_2016_CS_178]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 24/01/2019 10:45:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[name] [varchar](50) NOT NULL,
	[registeration_number] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[registeration_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
